.stepTitle {
    text-align: center;
    font-size: 1.4rem;
    margin: 3rem 0;
}

.button {
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.visionInput {
    display: block;
    border: 1px solid #bbb;
    width: 60%;
    height: 3.2rem;
    border-radius: 6px;
    margin: 0 auto;
    padding: 0 0 0 1rem;
}

.visionInput::placeholder {
    color: #989898;
}

.visionText {
    text-align: center;
}