@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");

.button {
    width: 256px;
    height: 64px;
    background: #006c61;
    color: #fff;
    border-radius: 10px;
}
.darkButton {
    background: #fff;
    color: #006c61;
}

.button a {
    color: inherit;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.mainVisual {
    background: #006c61;
    color: #fff;
    height: 80vh;
    min-height: 80vh;
    position: relative;
    width: 100%;
    /* border: 10px solid #000; */
    /* border-bottom: 0.1px solid #006c61; */
    box-shadow: 0 0 0 0.5px #006c61;
}
.topView {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.topViewText {
}
.topViewImg {
    height: 100%;
}
.topViewImg {
    height: 100%;
    /* width: 100%; */
    object-fit: contain;
}
.mainVisual::after {
    content: "";
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 100%;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: #006c61;
    z-index: -1;
}

.mainVisual::before {
    content: "";
    width: 50%;
    height: 20vh;
    position: absolute;
    top: 100%;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: #e8e8e8;
    z-index: -2;
}

.navigation {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.introFeaturesSection {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30vh;
    /* margin: 0 auto; */
}
.introFeaturesSection h2 {
    margin-top: 64px;
}
.introFeatureChild {
    border: 1px solid #eee;
    background: #ffffffee;
    border-radius: 8px;
    width: 300px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
}

.introFeatureImg {
    width: 100%;
    padding: 10%;
    /* border: 1px solid #000; */
    /* height: 70%; */
    /* padding: 10% 10% 0; */
    /* object-fit: cover; */
}

.introFeatureText {
    /* width: 50%; */
}

.introFeatureImg img {
    width: 100%;
    height: 100%;
}

.introFeaturesWrap {
    margin: 0 10%;
    justify-content: center;
    display: flex;
    gap: 32px;
}

.serviceDetailsSection {
    width: 100%;
    height: 50vw;
    position: relative;
    background: #282828;
    box-shadow: 0 0 0 0.5px #282828;
}
.serviceDetailsSection::before {
    content: "";
    width: 100%;
    height: 40vh;
    position: absolute;
    bottom: 90%;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background: #006c61;
    z-index: -2;
}
.serviceDetailsSection::after {
    content: "";
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 100%;
    right: 0;
    clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
    background: #282828;
    z-index: -1;
}

.serviceDetailsWrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    position: absolute;
    color: #fff;
    padding-bottom: 2%;
}

.serviceDetail {
    width: 100%;
    display: flex;
}

.serviceDetailImg {
    display: block;
    width: 40%;
    /* height: 50vh; */
    border-radius: 0px 8px 8px 0px;
    overflow: hidden;
    /* border: 1px solid #000; */
}

.serviceDetailImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceDetailText {
    width: 60%;
    height: 100%;
    display: flex;
    padding-left: 8%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.detailedFunctionsSection {
    /* border-top: 0.1px solid #282828; */
    position: relative;
    padding: 30vh 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detailedFunctionsSection::after {
    content: "";
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: #282828;
    z-index: -1;
}

.detailedFunctionsSection::before {
    content: "";
    width: 50%;
    height: 20vh;
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: #006c61;
    z-index: -2;
}

.detailedFunctionsWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0 auto;
}

.detailedFunction {
    margin: 0 auto;
    display: flex;
    width: 520px;
    height: 240px;
    align-items: center;
    /* justify-content: center; */
    padding: 0 32px;
    gap: 32px;
    border: 1px solid #eee;
    background: #ffffffee;
    border-radius: 8px;
}

.detailedFunctionImg {
    width: 30%;
    height: 100%;
}

/* .functionImg:first-child {
    border: 1px solid black;
    background: tomato;
} */

.detailedFunctionImg img {
    padding: 40% 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detailedFunctionText {
    width: 70%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.userTestimonialSection {
    text-align: center;
    width: 100%;
    /* background: tomato; */
    margin: 8% 0;
}

.userTestimonial {
    padding: 32px;
    margin-top: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #e8e8e8;
    gap: 32px;
}
.userDetailWrap {
    height: 60vh;
    width: 80%;
    border-radius: 32px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userDetailNavigation {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
}
.userDetailNavBtn {
    color: #006c61;
    font-size: 2rem;
}
.userDetailContent {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.userDetailImg {
    width: 20%;
    height: 100%;
}
.userDetailImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.userDetailText {
    width: 70%;
    height: 100%;
    text-align: left;
}
.userButtonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.userButton {
    display: flex;
    height: 8vw;
    width: 8vw;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}
.userButton.active {
    border: 2px solid #006c61;
}

.userButtonImg {
    height: 100%;
    width: 100%;
}

.userButtonImg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.footer {
    position: relative;
    background: #006c61;
}
.footer::before {
    content: "";
    width: 100%;
    height: 40vh;
    position: absolute;
    bottom: 100%;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background: #e8e8e8;
    z-index: -2;
}
.footer::after {
    content: "";
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 100%;
    right: 0;
    clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
    background: #006c61;
    z-index: -1;
}
