@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* button */

.button {
    width: 256px;
    height: 64px;
    min-height: 64px;
    display: block;
    background: var(--color-primary);
    color: #fff;
    border-radius: 10px;
}

.button a {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
}

.darkButton {
    background: #fff;
    color: var(--color-primary);
}

.wrap {
    width: 100%;
    overflow: hidden;
}

/* mainVisual */

.mainVisual {
    background: var(--color-primary);
    margin-bottom: 64px;
    color: #fff;
    width: 100%;
    height: 600px;
    padding: 0 64px;
    position: relative;
    /* border: 10px solid #000; */
    /* border-bottom: 0.1px solid var(--color-primary); */
    box-shadow: 0 0 0 0.5px var(--color-primary);
}

/* navigation */

.navigation {
    width: 100%;
    height: 15%;
}

.navigation nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.navigation ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation a {
    cursor: pointer;
}

.navigation nav h1 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navigation nav h1 .logo {
    height: 3rem;
    width: auto;
    overflow: hidden;
    display: block;
}

.navigation nav h1 .logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* topView */

.topView {
    display: flex;
    width: 100%;
    height: 90%;
    padding: 64px 0 0;
    justify-content: space-around;
}

.topViewText {
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}

.topViewText h2 {
    font-size: 2.8rem;
    line-height: 5rem;
}

.topViewText h3 {
    display: flex;
    gap: 8px;
    font-weight: 400;
}

.topViewText h3::before {
    content: "";
    display: block;
    width: 64px;
    border-top: 1px solid #fff;
    transform: translate(0, 50%);
}

.topViewImg {
    height: 100%;
}

.topViewImg img {
    height: 100%;
    /* width: 100%; */
    object-fit: contain;
}

.mainVisual::after {
    content: "";
    width: 4096px;
    height: 500px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: var(--color-primary);
    z-index: -1;
}

.mainVisual::before {
    content: "";
    width: 4096px;
    height: 600px;
    top: 100%;
    left: 75%;
    transform: translateX(-50%);
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: #e8e8e8;
    z-index: -2;
}

/* introFeatures */

.introFeaturesSection {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 28vh;
    /* margin: 0 auto; */
}

.introFeaturesWrap {
    margin: 0 10%;
    justify-content: center;
    display: flex;
    gap: 32px;
}

.introFeature {
    border: 1px solid #eee;
    background: #ffffffee;
    border-radius: 16px;
    width: 300px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    justify-content: space-between;
    padding: 16px 32px 32px;
    gap: 8px;
    box-shadow: 0px 0px 18px 0px #3e3e3e40;
}

.introFeatureImg {
    width: 100%;
    padding: 10%;
    /* border: 1px solid #000; */
    /* height: 70%; */
    /* padding: 10% 10% 0; */
    /* object-fit: cover; */
}

.introFeatureImg img {
    width: 100%;
    height: 100%;
}

.introFeatureText {
    font-weight: 500;
}

.introFeaturesSection h2 {
    position: relative;
    width: 100%;
    display: block;
    padding: 128px 0 256px;
}

.introFeaturesSection h2::before {
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    left: 64px;
    bottom: 128px;
    background: url(/images/introduction/introFeaturesDeco1.svg) bottom center/contain no-repeat;
    z-index: -2;
}

.introFeaturesSection h2::after {
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    right: 64px;
    bottom: 0;
    background: url(/images/introduction/introFeaturesDeco2.svg) bottom center/contain no-repeat;
    z-index: -2;
}

/* serviceDetails */

.serviceDetailsSection {
    width: 100%;
    height: 50vw;
    margin: 0 0 -256px;
    /* padding: -128px 0 0; */
    position: relative;
    /* background: #282828; */
    /* box-shadow: 0 0 0 0.5px #282828; */
}

.serviceDetailsWrap {
    background: #282828;
    position: relative;
    transform: translateY(-128px);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
    color: #fff;
    padding-bottom: 2%;
}

/* TODO ↓　これなに。何のために存在している？
消してもみた感じ変化がないが...。 */
.BackGround {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.serviceDetail {
    width: 100%;
    display: flex;
}

.serviceDetailImg {
    display: block;
    width: 40%;
    /* height: 50vh; */
    border-radius: 0px 8px 8px 0px;
    overflow: hidden;
    /* border: 1px solid #000; */
}

.serviceDetailImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceDetailText {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    padding-left: 8%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
}

.serviceDetailText h3 {
    font-weight: inherit;
}

.openAi {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.openAi p {
    padding-bottom: 6px;
    padding-right: 4px;
}

.serviceDetailsSection::before {
    content: "";
    width: 4096px;
    height: 600px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background: var(--color-primary);
    z-index: -1;
}

.serviceDetailsSection::after {
    content: "";
    width: 4096px;
    height: 500px;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
    background: #282828;
    z-index: -1;
}

/* detailedFunctions */

.detailedFunctionsSection {
    position: relative;
    padding: 30rem 32px 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    z-index: -10;
}

.detailedFunctionsSection h2 {
    margin: 0 0 64px;
}

.detailedFunctionsWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin: 0 auto;
}

.detailedFunction {
    margin: 0 auto;
    display: flex;
    width: 520px;
    height: 240px;
    align-items: center;
    /* justify-content: center; */
    padding: 0 32px;
    gap: 32px;
    border: 1px solid #eee;
    background: #ffffffee;
    border-radius: 16px;
    box-shadow: 0px 0px 18px 0px #3e3e3e40;
}

.detailedFunctionImg {
    width: 30%;
    height: 100%;
}

.detailedFunctionImg img {
    padding: 40% 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.detailedFunctionText {
    width: 70%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.detailedFunctionText h3 {
    color: var(--color-primary);
}

.detailedFunctionsSection::after {
    content: "";
    width: 4096px;
    height: 500px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: #282828;
    z-index: -1;
}

.detailedFunctionsSection::before {
    content: "";
    width: 4096px;
    height: 600px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    background: var(--color-primary);
    z-index: -1;
}

/* userTestimonial */

.userTestimonialSection {
    text-align: center;
    width: 100%;
    /* background: tomato; */
    margin: 128px 0;
}

.userTestimonial {
    padding: 32px;
    margin-top: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #e8e8e8;
    gap: 32px;
}

.userDetailWrap {
    height: 400px;
    width: 80%;
    border-radius: 32px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDetailNavigation {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* cursor: pointer; */
}

.userDetailNavBtn {
    color: var(--color-primary);
    font-size: 2rem;
}

.userDetailContent {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.userDetailImg {
    width: 20%;
    height: 100%;
}

.userDetailImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.userDetailText {
    width: 70%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

.userDetailText h3 {
    color: var(--color-primary);
    font-size: 1.4rem;
    display: flex;
    align-items: flex-end;
}

.userDetailText h3 span {
    display: block;
    color: var(--color-text);
    font-size: 80%;
    margin-left: 16px;
}

.userDetailText p {
    font-size: 1.1rem;
    line-height: 2.4rem;
}

.userButtonSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.userButton {
    display: flex;
    height: 8vw;
    width: 8vw;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.userButton.active {
    border: 2px solid var(--color-primary);
}

.userButtonImg {
    height: 100%;
    width: 100%;
}

.userButtonImg img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* getStartedSection */

.getStartedSection {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40vh;
    gap: 64px;
}

.getStartedSection::before {
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    left: 64px;
    bottom: -150px;
    transform: rotate(4deg);
    background: url(/images/introduction/footerDeco1.svg) bottom center/contain no-repeat;
    z-index: 0;
}

.getStartedSection::after {
    position: absolute;
    content: "";
    width: 500px;
    height: 500px;
    right: 64px;
    bottom: -220px;
    background: url(/images/introduction/footerDeco2.svg) bottom center/contain no-repeat;
    z-index: -2;
}

/* footer */

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 32px;
    background: var(--color-primary);
    box-shadow: 0 0 0 0.5px var(--color-primary);
    color: #fff;
}

.footer ul {
    position: absolute;
    top: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6% 0;
    height: 40vh;
}

.footer ul a {
    color: var(--color-text);
    text-decoration: none;
    cursor: pointer;
}

.snsIcon {
    display: flex;
    gap: 32px;
}

.snsIcon a {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}

.snsIcon i {
    font-size: inherit;
}

.scrollTop {
    cursor: pointer;
    position: absolute;
    top: 100%;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.scrollTop i {
    font-size: 2rem;
}

.footer::before {
    content: "";
    width: 100%;
    height: 40vh;
    position: absolute;
    bottom: 100%;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background: #e8e8e8;
    z-index: -1;
}

.footer::after {
    content: "";
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 100%;
    right: 0;
    clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
    background: var(--color-primary);
    z-index: -1;
}